.section2 {
    background-color: rgb(249, 248, 250);
    width: 75%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.top {
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 5.0rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1.0rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.name {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(95, 95, 95);
}

.image {
    height: 3.0rem;
    width: 3.0rem;
    border-radius: 20%;
    cursor: pointer;
    margin: auto;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.upper-middle {
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 13.0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.up-upper {
    /* border: 1px solid blue; */
    height: 30%;
}

.up-bottom {
    /* border: 1px solid red; */
    height: 70%;
}

.bottom {
    height: 65%;
}